@media (min-width: 517px) and (max-width:1032px) {
    .gridHome{
        grid-template-areas: 
        "encabezado encabezado encabezado encabezado"
        "principal principal principal principal"
        "texto texto texto texto"
        "ubicacion ubicacion ubicacion ubicacion"
        "pieDePagina pieDePagina pieDePagina pieDePagina" 
        ;
    
    }
    @media (min-width: 440px) and (max-width:516px) {
        .gridHome{
            grid-template-areas: 
        "encabezado encabezado encabezado principal"
        "principal principal principal principal"
        "texto texto texto texto"
        "ubicacion ubicacion ubicacion ubicacion"
        "pieDePagina pieDePagina pieDePagina pieDePagina" 
        ;
    
    }
    @media (min-width: 0px) and (max-width:435px) {
        
        nav{
            display: flex;
            flex-direction:column;
        }